* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Apple SD Gothic Neo";
}

html,
body {
    position: fixed;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: AppleGothic;
}